<!-- Validation failure messages -->
<% if @actor.errors.any? %>
  <% @actor.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Actor</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_actor" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @actor.name %>">
      </div>

      <!-- Label and input for dob -->
      <div class="form-group">
        <label for="dob" class="control-label">
          Dob
        </label>

        <input type="text" id="dob" name="dob" placeholder="Dob" class="form-control" value="<%= @actor.dob %>">
      </div>

      <!-- Label and input for bio -->
      <div class="form-group">
        <label for="bio" class="control-label">
          Bio
        </label>

        <textarea id="bio" name="bio" placeholder="Bio" class="form-control" rows="3"><%= @actor.bio %></textarea>
      </div>

      <!-- Label and input for image_url -->
      <div class="form-group">
        <label for="image_url" class="control-label">
          Image url
        </label>

        <input type="text" id="image_url" name="image_url" placeholder="Image url" class="form-control" value="<%= @actor.image_url %>">
      </div>

      <button class="btn btn-success">
        Create Actor
      </button>
      or
      <a href="/actors">Cancel</a>
    </form>
  </div>
</div>
