<div class="page-header">
  <h1>
    Movies
    <a href="/movies/new" class="btn btn-lg btn-success">New Movie</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Image url</th>
        <th>Title</th>
        <th>Year</th>
        <th>Duration</th>
        <th>Description</th>
        <th>Director</th>
        <th>Actions</th>
      </tr>

      <% @movies.each do |movie| %>
      <tr>
        <td>
          <img src="<%= movie.image_url %>">
        </td>
        <td><%= movie.title %></td>
        <td><%= movie.year %></td>
        <td><%= movie.duration %></td>
        <td><%= movie.description %></td>
        <td><%= Director.find_by(:id => movie.director_id).name %></td>
        <td>
          <a href="/movies/<%= movie.id %>" class="btn btn-primary">Show</a>
          <a href="/movies/<%= movie.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_movie/<%= movie.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
