<div class="page-header">
  <h3>Movie #<%= @movie.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @movie.title %></dd>

      <dt>Year</dt>
      <dd><%= @movie.year %></dd>

      <dt>Duration</dt>
      <dd><%= @movie.duration %></dd>

      <dt>Description</dt>
      <dd><%= @movie.description %></dd>

      <dt>Image url</dt>
      <dd><%= @movie.image_url %></dd>

      <dt>Director</dt>
      <dd><%= Director.find(@movie.director_id).name %></dd>
      <dt>Number of Characters</dt>
      <dd><%= @character_count %></dd>
      <dt>Actors in the Movie</dt>
      <% @characters.each do |character| %>
      <tr>
        <td><%= Actor.find(character.actor_id).name %></td>
        <br>
      </tr>
      <% end %>
    </dl>
    <div class="row">
      <div class="col-md-12">
        <form action="/create_character" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for movie_id -->
          <div class="form-group">
            <label for="movie_id" class="control-label">
              Movie
            </label> <%=@movie.title%>
            <input type="hidden" id="title" name="title" class="form-control">
          </div>

          <!-- Label and input for actor_id -->
          <div class="form-group">
            <label for="actor_id" class="control-label">
              Actor
            </label>

              <%= select_tag(:actor_id, options_from_collection_for_select(Actor.all, :id, :name,), :class => "form-control")%>
          </div>

          <!-- Label and input for name -->
          <div class="form-group">
            <label for="name" class="control-label">
              Name
            </label>

            <input type="text" id="name" name="name" placeholder="Name" class="form-control">
          </div>

          <button class="btn btn-success">
            Create Character
          </button>
          or
          <a href="/characters">Cancel</a>
        </form>
      </div>
    </div>

    <div class="btn-group btn-group-justified">
      <a href="/movies" class="btn btn-primary">
        Back
      </a>
      <a href="/movies/<%= @movie.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_movie/<%= @movie.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
