<div class="page-header">
  <h3>Movie #<%= @movie.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @movie.title %></dd>

      <dt>Year</dt>
      <dd><%= @movie.year %></dd>

      <dt>Duration</dt>
      <dd><%= @movie.duration %></dd>

      <dt>Description</dt>
      <dd><%= @movie.description %></dd>

      <dt>Image</dt>
      <dd><img src="<%= @movie.image_url %>"></dd>

      <dt>Director</dt>
      <dd><%= @movie.director.name %></dd>

      <dt>Number of characters</dt>
      <dd><%= @movie.characters.count %></dd>


      <dt>Characters</dt>
      <dd>
        <ul class="list-group">
          <% @movie.characters.each do |character| %>
          <li class="list-group-item"><%= character.name %></li>
          <% end %>

          <li class="list-group-item">








            <form action="/create_character" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

              <!-- Label and input for movie_id -->
              <input type="hidden" name="movie_id" value="<%= @movie.id %>">



              <button class="btn btn-success">
                Create Character
              </button>
              or
              <a href="/characters">Cancel</a>
            </form>












          </li>

        </ul>
      </dd>


    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/movies" class="btn btn-primary">
        Back
      </a>
      <a href="/movies/<%= @movie.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_movie/<%= @movie.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
