<div class="page-header">
  <h1><%= @movie.title %></h1>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">

      <dt>Year:</dt>
      <dd><%= @movie.year %></dd>

      <dt>Duration:</dt>
      <dd><%= @movie.duration %></dd>

      <dt>Description:</dt>
      <dd><%= @movie.description %></dd>

      <dt>Image:</dt>
      <dd><img src="<%= @movie.image_url %>" width="100"></dd>

      <dt>Director:</dt>
      <dd>
        <a href="/directors/<%= @movie.director_id %>">
          <%= @movie.director.name %>
        </a>
      </dd>

      <dt>Actors:</dt>
      <dd>
        <ul class="list-group">
          <% @movie.characters.each do |character| %>
          <li class="list-group-item">
            <a href="/actors/<%= character.actor_id %>">
              <%= character.actor.name %>
            </a>
            (<%= character.name %>)
          </li>
          <% end %>
        </ul>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/movies" class="btn btn-primary">
        Back
      </a>
      <a href="/movies/<%= @movie.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_movie/<%= @movie.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
