<div class="page-header">
  <h3>Movie #<%= @movie.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @movie.title %></dd>

      <dt>Year</dt>
      <dd><%= @movie.year %></dd>

      <dt>Duration</dt>
      <dd><%= @movie.duration %></dd>

      <dt>Description</dt>
      <dd><%= @movie.description %></dd>

      <dt>Image</dt>
      <!-- <dd><%= @movie.image_url %></dd> -->
      <dd><img src="<%= @movie.image_url %>" alt=""></dd>

      <dt>Director</dt>
      <!-- <dd><%= @movie.director_id %></dd> -->
      <dd>
        <a href="/directors/<%= @movie.director_id %>">
          <!-- <%= Director.find_by(:id => @movie.director_id).name %> -->
          <%= @movie.director.name %>
        </a>
      </dd>



      <dt>Cast
      <dd>
        <ul class="list-group">
          <% @movie.characters.each do |character| %>
          <li class="list-group-item"><a href="/actors/<%= actor.id %>"><%= character.actor %> (<%= character.name %>)</a></li>
          <% end %>
        </ul>
        <div class="row">
          <div class="col-md-12">
            <form action="/create_character" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

              <!-- Label and input for title -->
              <div class="form-group">
                <label for="actor" class="control-label">
                  Actor
                </label>

                <input type="text" id="actor" name="actor" placeholder="Actor" class="form-control" value="<%= @character.actor %>">
              </div>

              <!-- Label and input for year -->
              <div class="form-group">
                <label for="name" class="control-label">
                  Name
                </label>

                <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @character.name %>">
              </div>

              <!-- Label and input for director_id -->
              <!-- <div class="form-group">
                <label for="director_id" class="control-label">
                  Director
                </label> -->

                <!-- <input type="text" id="director_id" name="director_id" placeholder="Director" class="form-control" value="<%= @movie.director_id %>"> -->

                <!-- IMPORTANT: added during video ~45min -->

                <!-- <option value=""></option> -->
                <!-- <% %> -->
                <!-- <%=  %> -->

                <!-- <select name="director_id" id="" class="form-control">
                <% Director.all.each do |director| %>
                <option value="<%=director.id%>"><%= director.name %></option>
                <% end %>
              </select> -->

              <!-- First helper method, first: name of the column youre trying to populate in the movie table
              Next helper method, first: array you want it to draw options for, the thing you want to store ultimately in the original column, thing you want user to see, thing you want to be preselected. -->

              <input type="hidden" name="character_id" value="<%= @character.id %>">
            </div>

            <button class="btn btn-success">
              Create Character
            </button>
            or
            <a href="/movies">Cancel</a>
          </form>
        </div>


      </dd>
      </dt>


    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/movies" class="btn btn-primary">
        Back
      </a>
      <a href="/movies/<%= @movie.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_movie/<%= @movie.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
