<!-- Validation failure messages -->
<% if @character.errors.any? %>
  <% @character.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Character #<%= @character.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_character/<%= @character.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for movie_id -->
      <div class="form-group">
        <label for="movie_id" class="control-label">
          Movie
        </label>

        <input type="text" id="movie_id" name="movie_id" placeholder="Movie" class="form-control" value="<%= @character.movie_id %>">
      </div>

      <!-- Label and input for actor_id -->
      <div class="form-group">
        <label for="actor_id" class="control-label">
          Actor
        </label>

        <input type="text" id="actor_id" name="actor_id" placeholder="Actor" class="form-control" value="<%= @character.actor_id %>">
      </div>

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @character.name %>">
      </div>

      <button class="btn btn-warning">
        Update Character
      </button>
      or
      <a href="/characters/<%= @character.id %>">Cancel</a>
    </form>
  </div>
</div>
